/backend/uploads
/frontend/uploads
/frontend/node_modules
/backend/node_modules
/backend/dist
/frontend/dist
# /backend/prisma/migrations
# /backend/prisma/schema.sql
# /backend/prisma/schema.prisma
# /backend/prisma/schema.sqlbackend/.env 
frontend/.env.production
frontend/.env
